#about {
  margin: 30px 0 50px;
  .about__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    .about__text {
      max-width: 487px;
      h4 {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.2em;
        color: #dc780b;
        margin-bottom: 10px;
      }
      h2 {
        font-family: Philosopher;
        font-size: 31.25px;
        font-weight: 700;
        line-height: 40.63px;
        color: #150c01;
      }
      p {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #150c01;
        margin: 30px 0;
      }
      button {
        padding: 11px 30px;
        border-radius: 5px;
        border: 1px solid #dc780b;
        background: #dc780b;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
        text-align: left;
        color: #fff;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background: #fff;
          border: 1px solid #fbf1e7;
          color: #dc780b;
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
  @media (max-width: 1000px) {
    .about__content {
      flex-direction: column;
      .about__text {
        text-align: center;
      }
    }
  }
  @media (max-width: 600px) {
    .about__content {
      img {
        width: 100%;
      }
      .about__text {
        h2 {
          font-size: 24px;
          line-height: 30px;
        }
        p {
          font-size: 14px;
          line-height: 20px;
          margin: 20px 0;
        }
        button {
          padding: 8px 20px;
          font-size: 14px;
        }
      }
    }
  }
}
