* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Philosopher;
  src: url(./fonts/Philosopher-Regular.ttf);
}
body {
  font-family: Roboto, sans-serif;
  padding-top: 79px;
}
a {
  text-decoration: none;
  color: inherit;
}
